.App-main {
  background-color: #F2F2F2;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #656565;
}

section {
  background-color: #FFFFFF;
  border: 2px #D1DCE3;
  border-radius: 4px;
  width: 608px;
  height: 389px;
  display: flex;
  flex-direction: row;
  align-items: center;
  outline: 1px #656565;
}